.container-inline-stacked .form-item {
  float:            left;
  padding-right:    0.8em;
  margin:           0.05em 0.1em;
}

/* @todo content: "." for IE? */
.container-inline-stacked:after {
  content:          "";
  clear:            both;
  display:          block;
  height:           0;
  visibility:       hidden;
}

.container-inline-stacked .form-checkbox {
  margin-top:       25px;
}

.container-inline-stacked .no-title {
  margin-top:      0.8em;
}