<div id="front_page_content_inner">
    <img src="{{ MEDIA_URL }}/97_4_00000000001.jpg" HEIGHT="281" WIDTH="200">
    If you're wondering what the GCD is all about, please have a look at <a href="http://docs.comics.org/wiki/The_GCD_Charter">About the GCD</a> before browsing the site. If you like what you see, <a href="http://groups.google.com/groups/dir?q=grand+comics+database&">join our mailing lists</a> and hang out with the rest of us! We're always looking for contributing indexers. Please help us by uploading some cover scans or indexing your favorite comic books.
    <div id="front_page_disclaimer">
        <h4>Disclaimer:</h4>
        The Grand Comic-Book Database Project (GCD) is a volunteer project with the goal of documenting and indexing all comics for the free use of scholars, historians, researchers, and fans. The GCD acknowledges that the all-encompassing research nature of the project may result in the posting of cover scans for comics with images that some may find objectionable. Viewer discretion is advised.
    </div>
    <br/>
    <div id="front_page_disclaimer_signature">
        The Grand Comic-Book Database Team
    </div>
</div>
