<div id="front_page_content_inner">
<div class="announcement">
<h2>Welcome to the new Grand Comic-Book Database!</h2>
<p>
<div class="instructions">
<span class="important">Public beta now available!</span> We are currently conducting a public beta of our new Online Indexing system. Please head over to <a href="http://beta.comics.org">beta.comics.org</a> and try out adding, changing, or deleting any data on the site. We would welcome any feedback via our <a href="http://groups.google.com/group/gcd-main">mailing list</a>. Our plan is to roll it out the weekend of November 27th if all goes well.
<br><br>
<em>Note: all changes to the data on the beta site will be periodically discarded</em>
</div>
<p>
<div class="instructions">
<span class="important">To get started, enter some terms in the search box above.</span>  Keep in mind that the search string is interpreted literally, including punctuation.  So <em>All Star</em> and <em>All-Star</em> are two different searches, and <em>Justice America</em> won't match <em>Justice Society of America</em>.  We plan to implement modern keyword-driven search as soon as we can (which means in the first half of 2010).
<br><br>
All of our content and search features are available
<span class="important">without logging in</span>.
</div>
<p>
<h3>Future Plans (first half of 2010 and later)</h3>
<ul>
  <li>Linking of reprints back to the original (or forward to the reprint)
  <li>Continued improvements to Advanced Search, including using external tools to gain functionality such as fuzzy matches.
  <li>Coding to a new database design (already mostly worked out), with changes like:
    <ul>
      <li>The ability to have an issue appear in more than one series (for dual numbered books such as Star Wars: Empire / Star Wars: Rebellion, and for flip books).
      <li>The ability to have different cover titles and indicia titles for the same book (for titles such as "Captain America: Reborn" vs "Reborn")
      <li>More tailored separation between periodicals and books (present more logically)
      <li>User preferences: The ability to tailor what information is shown (such as only story content, non-story but no ad content, etc.)
    </ul>
</ul>
<p>
As this is all new code, there are bound to be some bugs.  Please <a href="http://errors.comics.org/enter_bug.cgi">let us know</a>!
</p>
</div>

</div>
